:root {
  --acent-color: #2196f3;
  --background-color: #ffffff;
}

/* ГЛАВНАЯ */
body {
  font-family: Roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1;
  height: 1;
  margin: -1px;
}

/* *Хедер  */
.header {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.list.menu {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 331px;
}
.page-navi {
  display: flex;
  text-align: center;

  background-color: var(--background-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.logo {
  margin-left: 215px;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;

  font-family: Raleway;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-start {
  color: var(--acent-color);
}

.page-nav-link {
  text-decoration: none;
  color: #212121;
}

.list > .item:not(:last-child) {
  margin-right: 50px;
}

.page-nav-link.current {
  color: var(--acent-color);
}

.contact {
  display: flex;
  text-align: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact.list {
  margin-top: 32px;
  margin-bottom: 32px;
}

.contact-link {
  color: #757575;
  text-decoration: none;
}

.contact.list > .item:first-child {
  margin-right: 50px;
}

.contact.list > .item:last-child {
  margin-right: 215px;
}

.page-nav-link:hover,
.page-nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--acent-color);
}

/* *Футер */
.footer {
  background-color: #2f303a;
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--background-color);
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.footer-address a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* *Герой */
.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero .title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  color: var(--background-color);
  text-transform: uppercase;
}

.hero-btn {
  background: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn > .text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
}

/* *Особливості */
.special {
  background-color: var(--background-color);
}

.special-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

.special-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* *Чим займаємось */
.doings-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* *Наша команда */
.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item .item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item .item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ПОРТФОЛИО */

.filter-btn {
  cursor: pointer;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
}

.filter-item > .btn-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--acent-color);
  color: var(--background-color);
}

.examples-link {
  text-decoration: none;
}

.examples-item .link-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.examples-item .link-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
