:root {
  --acent-color: #2196f3;
  --background-color: #ffffff;
}
/* ГЛАВНАЯ */
body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
}

/* *Хедер  */
.page-navi {
  background-color: var(--background-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.logo {
  font-family: Raleway;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-start {
  color: var(--acent-color);
}

.page-nav-link {
  text-decoration: none;
  color: #212121;
}

.page-nav-link.current {
  color: var(--acent-color);
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link {
  color: #757575;
  text-decoration: none;
}

.page-nav-link:hover,
.page-nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--acent-color);
}

/* *Футер */
.footer {
  background-color: #2f303a;
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--background-color);
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.footer-address a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.hero {
  background-color: #2f303a;
}

.hero > .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  text-transform: uppercase;
}

.hero > .hero-btn {
  background: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn > .text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
}

.special {
  background-color: var(--background-color);
}

.special-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

.special-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.doings-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item > .item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item > .item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ПОРТФОЛИО */

.filter-btn {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
}

.filter-item > .btn-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--acent-color);
  color: var(--background-color);
}

.examples-link {
  text-decoration: none;
}

.examples-item .link-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.examples-item .link-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
